

/* 
    GENERAL
*/






/* 
HEADER
*/

header{
    width: 100vw;
    height: 60px;
    background-color: #F8F9FA;
}

.my-bg-header{
    background-color: #F8F9FA;
}

.my-logo-mobile{
    width: 50px;
    
}





/* 
ASIDE
*/


.my-bg-aside{
    background-color: #051E34;
}






/* 
MAIN
*/

.my-main{
    height: calc(100vh - 60px);
}

