

/* 
    GENERAL
*/






/* 
    HEADER
*/

header{
    width: 100vw;
    height: 60px;
    background-color: #F8F9FA;
}

.my-bg-header{
    background-color: #F8F9FA;
}





/* 
    ASIDE
*/






/* 
    MAIN
*/
